<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Bitlyfier" type="Bitlyfier.Configuration.BitlyfierConfigSection, Bitlyfier" requirePermission="false" />
  </configSections>

  <Bitlyfier apiLogin="blastradiustoronto" apiKey="R_3baa77089b419d483cd8eee5ac189d1f" />
</configuration>